<div class="panel panel-success">
  
<div class="panel-heading"><h1>Admin</h1></div>

<div class="panel-body"  style= "background-color: ivory;">
It's <5 =Time.now %>
We have <%= pluralize(@total_orders, "order")
<p>Find me in app/views/admin/index.html.erb</p>
