<div class="panel panel-primary">
  
<div class="panel-heading"><h2>New Cart</h2></div>

<div class="panel-body">


<%= render 'form', cart: @cart %>

<%= link_to 'Back', carts_path , class:"btn btn-xs btn-danger" %>


</div>
</div>