<div class="panel panel-warning">
    
<div class="panel-heading"><h2>New Line Item</h2></div>

<div class="panel-body">
<div class="table-responsive">


<%= render 'form', line_item: @line_item %>

<%= link_to 'Back', line_items_path , class:"btn btn-xs btn-danger" %>

</body>
</div>