<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body class="container" style= "background-color: rosybrown;">
    
  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">It 231 Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Root</a></li>
        <li><a href="/store/index">Store</a></li>
        <li><a href="/carts">Carts</a></li>
        <li><a href="/line_items">Line Items</a></a></li>
      </ul>
    </div>
    </nav>
    
    <%= yield %>
    
  </div>
  </body>
</html>
